@model BudgetingApplication.ViewModels.BadgesModelView
@{
    ViewBag.Title = "Index";
    ViewBag.PageName = "Badges";
    Layout = "~/Views/_Layout.cshtml";
}
<h2 align="center">My Badges</h2>

<br />

<table>
    
    
    @foreach (var item in Model.badgeNames)
    {
        <div class="col-md-3 myBadge"><img src="@Url.Content("~/images/" + item)" /></div>
    }
       
    
</table>

@section sidebar{
    <div class="badge-sidebar">
        <h3>Badge Progress</h3>
        <div class="badge-progress-ratio" align="center">
            @Model.badgeCount out of 50
        </div>
    </div>

}
