@model IEnumerable<BudgetingApplication.Models.Transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    table {
        text-align: center;
    }

    th {
        text-align: center;
        color: white;
        background-color: #4CAF50;
    }
    #search-container {
        margin: 10px;
    }
</style>

<script>
    var searchText = document.getElementById('search-box').value;
</script>

<h2>Transactions</h2>

<div class="container" id="search-container">
    <div class="row">
        <div class="col-md-6">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input id ="search-box" type="text" class="form-control input-lg" placeholder="Search description, account type, category" />
                    <span class="input-group-btn">
                        <button class="btn btn-lg" type="button">
                            Search
                        </button>                        
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
            <th>
                Amount
            </th>
            <th>
                Account Type
            </th>
            <th>
                Category
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        string dateAndTimeString = item.TransactionDate.ToString();
        int firstSpaceIndex = dateAndTimeString.IndexOf(' ');
        string dateString = dateAndTimeString.Remove(firstSpaceIndex, 12);

        <tr>
            <td>
                @dateString
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @if (item.TransactionAmount > 0)
            {
                <td style="color:green">
                    $@Html.DisplayFor(modelItem => item.TransactionAmount)
                </td>
            }
            else
            {
                <td>
                    $@Html.DisplayFor(modelItem => item.TransactionAmount)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryType)
            </td>
        </tr>
    }

</table>

