
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="col-md-3">
    <div id='calendar'></div>
</div>
<div class="col-md-5">
    <canvas id="chart-area" />
</div>
<div class="col-md-4">
    <canvas id="graph-chart" />
</div>