@model BudgetingApplication.Models.SavingsGoal

@{

    /*double incomeGoal, incomeAmount;
    if (Model.GoalCategory == 1)
    { //skip displaying the deposit goal
        incomeAmount = Convert.ToDouble(Model.TransactionAmount);
        incomeGoal = Convert.ToDouble(Model.BudgetGoalAmount);
        ViewData.Add("Parent", this);
        return;
    }*/

    double TransactionAmount = (double)Model.CurrentGoalAmount;
    double BudgetGoalAmount = (double)Model.SavingsGoalAmount;
    int percentage = (int)((TransactionAmount / BudgetGoalAmount) * 100);

    double remaining = BudgetGoalAmount - TransactionAmount;
    string goalName = Model.GoalDescription;


    string progressType = "progress-bar-success";
    if (percentage > 30 && percentage < 100)
    {
        progressType = "progress-bar-warning";
    }
    else if (percentage <= 30)
    {
        progressType = "progress-bar-danger";
    }

    <div id="savigsGoal_@Model.SavingGoalID" class="sGoalContainer">
        <div class="sGoalUpper">
            <div class="sGoalLabel">
                <span class="sGoal-label">Goal: @goalName</span>
                <span class="sGoal-date-label"></span>
                <div class="sGoal-edit" style="float:right;display:none;">
                    @Html.ActionLink("Edit", "InsertSavingsGoal", new { id = Model.SavingGoalID })
                </div>
            </div>
            <span style="font-style:italic; font-size:x-small">Date Set: @Html.DisplayFor(modelItem => Model.StartDate)</span>
        </div>
        <div class="sGoalProgress">
            <div class="progress">
                <div class="progress-bar @progressType" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: @percentage%">

                </div>
            </div>
            <div class="sGoalLower">
                <div style="float:left;">Total Saved: <span class="sGoal-amount">$@TransactionAmount</span> </div>
                <div style="float:right;">Remaining: <span class="sGoal-amount">$@remaining</span></div>
                <center><div>Total Budgeted: <span class="sGoal-amount"> $@BudgetGoalAmount</span></div></center>
            </div>
        </div>
    </div>
    <hr />
}