body { padding-top: 140px; }
html, body {
    background: #f9f9f9;
    margin: 0;
    font-family: Open Sans,sans-serif;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.navBanner{
    background-color:#006f51;
    padding: 0;
    margin: 0;
    height: 99px;
}
.content-wrap {
    margin: 0 auto;
    max-width: 1200px;
    clear: both;
}
.fc-today {
    background-color:#cccccc!important;
    border: 1px solid #000 !important;
}

/*This gets rid of the extra space in the calendar */
.fc-basic-view .fc-body .fc-row  { min-height:1em!important;}


/*sidebar properties*/
.custom-sidebar {
    min-height: 150px!important;
    min-width: 200px;
    max-width: 150px;
    padding: 0 10px;
    border-radius: 25px;
    margin-left: 15px;
    float: left;
    background-color: rgba(228, 228, 228, 1);
    box-shadow: 10px 0px 5px -2px rgba(0, 0, 0, 0.2), 5px 0px 5px -2px rgba(0, 0, 0, 0.19);
}


/*budget goals */
#budgetGoalContainer,
.bGoalContainer{
    margin: 0 auto;
    min-width: 500px;
    max-width: 500px;
    border-top:1px solid #e0dcdc;
    border-bottom:1px solid #e0dcdc;
    margin-bottom:10px;
    padding:5px;
}
.bGoalContainer:hover{
    background-color:#dff0d8;
}
.bGoalUpper{
    width: 100%;
    display: inline-block;
    padding-bottom:5px;
}
.bGoalLower{
    margin-top: -10px;
}
.bGoalLabel{
}

.bGoalAmount{
    float: right;
}
.bGoalProgress{
    display: block;
}
.bGoal-parent-label{

}
.bGoal-child-label{
    font-weight: bold;
}
.bGoal-amount{
    font-weight: bold;
}
.bGoalIncome-sidebar{
    text-align:center;
}
.bGoalIncome-sidebar-amount{
}
.bGoalIncome-sidebar-amount span{
    font-weight:bold;
    color:green;
}